header {
    text-align: center;
    margin:0;
    padding:0px;
    padding-bottom:30px;
    background:#d3d3d3;
    color:white;
}

header h6{
    padding:10px;
    font-size:20px;
    font-weight: normal;;
    border-bottom: 0.1rem solid white;
}
header .latest-album{
    text-align: center;
    border:1px solid #353737;
    padding:15px 30px;
    font-size:23px;
    font-weight: 200;
    margin:10px auto;
    background: inherit;
    cursor: pointer;
    color:black;
}

header .play-btn{
    cursor: pointer;
    text-align: center;
    border:2px solid #353737;
    border-radius:50%;
    padding:20px;
    font-size:30px;
    font-weight: 200;
    margin:20px auto;
    background: inherit;
    color:#353737;
}

#tours .tour-item{
    display:flex;
    border-bottom:1px solid black;
    padding:10px;
}
#tours .tour-item .tour-date{
    width:12%;
}
#tours .tour-item .tour-place{
    width:25%;
    color:#777;
}
#tours .tour-item .tour-spec-place{
    width:53%;
    color:#777;
}
#tours .tour-item .buy-btn{
    width:20%;
    background: #56CCF2;
    color:white;
    border:none;
    padding:7px;
    border-radius:5px;
    font-weight:700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section h2{
    font-family: "Metal Mania";
    text-align: center;
    padding: 20px;
    font-size: 30px;
}